[submodule "extern/nlohmann-json"]
	path = extern/nlohmann-json
	url = https://github.com/nlohmann/json.git
[submodule "extern/cli11"]
	path = extern/cli11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "extern/gumbo-wrapper"]
	path = extern/gumbo-wrapper
	url = https://github.com/cppcooper/gumbo-wrapper.git
